<html>
  <head><head>
  <body>
    <%= form_for(@book) do |f| %>
    <h2>Editing Book</h2>
      <h3>Title<br>
      <%= f.text_field :title %><br>
      Body<br>
      <%= f.text_area :body %>
      <br><%= f.submit 'Update Book' %>
      <br>
       
      
　　<% end %>
    <%= link_to "Show",book_path(@book.id) %>
    <%= link_to "Back", "/books/new" %>
    </h3>
　　
  </body>

</html>
